body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", Arial, sans-serif;
    color: #283136;
    line-height: 24px;
    margin: 0;
}

.container-nav {
    width: 1156px;
    margin: 0 auto;
}
.main-container {
    flex-grow: 1;
}
.container {
    width: 1440px;
    margin: 0 auto;
}
.navigation-container {
    display: flex;
    align-content: center;
}
.navigation-list {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 45px;
    list-style: none;
}
.basket-item {
    margin-left: auto;
    text-decoration: none;
    margin-left: 285px;        
}  
.navigation {
    flex-grow: 1;
    line-height: 30px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-left: 200px;
}
.navigation-link {
    color: #000000;
    text-transform: uppercase;
    font-weight: 500;
}
.navigation-container {
    margin-bottom: 0;

} 
.information {
    width: 1156px;
    margin: 0 auto;
}
.page-header {
    background-color: #EEEEEE;
    display: flex;
    justify-content: space-between;

}
.slider{
    background-color: #EEEEEE;
    display: flex;
    
}
.info-slider {
    display: flex;
    justify-content: space-between;
}
.slide-1{
    background-image: url('./image/nerds-index-slide1\ 1.png');
    background-repeat: no-repeat;
    background-position: top right;
    height: 431px;
}
.slide-2{
    background-image: url('./image/nerds-index-slide2\ 1.png');
    background-repeat: no-repeat;
    position: relative;
    position: absolute;
    display: none;
}
.slide-3{
    background-image: url('./image/nerds-index-slide3\ 1.png');
    background-repeat: no-repeat;
    position: relative;
    position: absolute;
    display: none;
}
.link {
    color:#283136;
    text-decoration: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }
.servise-item {
    width: 300px;
    list-style: none;
    }
.servise-list {
    display: flex;
    justify-content: space-between;
}
.information {
    width: 1156px;
    margin: 0 auto; 
}
.main-red-button {
    background-color: #FB565A;
    color: white;
    text-decoration: none;
    border-radius: 3px;
}
.main-black-color {
    color: #000000;
}
.logo {
    margin-bottom: 0;
    Width:159.87px;
    Height:65.02px;
}
.navigation-list{
    display: flex;

    font-size: 16px;
    text-transform: uppercase;   
}
.lead {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    width: 538px;
}
.clients-container {
    display: flex;
    justify-content: space-around;
}
.clients {
    display: flex;
    justify-content: space-around;
}
.dop-lead{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 38px;
}
.contacts {
    width: 319px;
    height: 308px;
    z-index: 3;
}
.more{
    font-size: 16px;
    text-transform: uppercase;
    padding: 54px;
    padding-top: 17px;
    padding-bottom: 15px;
}
.container-info {
    display: grid;
    
    grid-template-columns: 650px 1fr;
}
.servise-description{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px;
}
.servise-container {
   margin-top: 80px;
   margin-bottom: 121px;
}
.servise-title{
    font-size: 24px;
    text-transform: uppercase;
    font-Weight: 700;
    Line-height: 30px;
    margin-top: 20px;
    color: #000000;
}
.buy{
    padding: 40px;
    padding-top: 17px;
    padding-bottom: 15px;
    font-size: 16 px;
    text-transform: uppercase;
    color: white;
}
.green-buy {
    background-color: #00CA74;
} 
.yellow-buy {
    background-color: #EFC849;
}

.info-title {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    text-transform: uppercase;
    width: 651px;    
    margin-bottom: 32px;
    color:#000000;
}
.info-servise {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 23px;
    color: #000000;
}
.info-adventages-item {
    font-size: 16px;
    line-height: 24px;
}
.info-adventages-list {
    line-height: 24px;
    list-style: none;
}
.info ul li {
    margin-bottom: 24px;
}
.indicators-block {
    margin-left: 149px;
}
.indicators-illustration {
    width: 360px;
}
.indicators-title {
    color: #000000;
    text-transform: uppercase;
}
.tab-of-description {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr min-content;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
}
.table-head{
    font-size: 16px;
    line-height: 18px;
    order: 2;
}
.table-value{
    order: 1;
    font-size: 45px;
    line-height: 64px;
    font-weight: 700;
}
.name-contacts{
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    margin-top: 49px;
    margin-right: 50px;
    margin-left: 50px;
}
.adres-contacts {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    margin-top: 23px;
    margin-bottom: 37px;
    margin-left: 50px;
}
.contacts {
    background-color: #fff;
    width: 319px;
    height: 308px;
    margin: 54px 140px;
    position: relative;
    position: absolute;
    margin-right: 50px;
}
.write-us{
    line-height: 18px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 47px;
    padding-top: 15px;
    padding-bottom: 17px;
    padding-left: 44px;
    padding-right: 45px;
    margin-left: 50px;
}
.title-magazin {
    padding-top: 87px;
    padding-bottom: 108px;
    text-align: center;
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    background-color: #EEEEEE;
}
.catalog-products {
    display: flex;
}
.catalog-filter {
    width: 260px;
    margin-right: 140px;
    margin-top: 55px;
}
.catalog-right-column {
    width: 899px;
}
.legend {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
}
.radio {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}
    
.submit-button {
    font-size: 16px;
}
.sorting-title {
    font-size: 18px;
    margin-right: 266px;
    font-weight: 700;
    text-transform: uppercase;
}
.sorting-setting {
    font-size: 14px;
    margin-right: 25px; 
    text-decoration: none; 
    color: #000000;
    text-transform: uppercase;
    font-weight: 400;
}
.title-magazin {
    color: #000000;
}
.sorting-list{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-top: 55px;
    margin-bottom: 48px;
    text-transform: uppercase;
    background-image: url(./image/up-arrow.svg);
    background-image: url(./image/down-arrow.svg);
    background-repeat: no-repeat;
}
.templates-title{
    text-transform: uppercase;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    margin-top: 26px;
    margin-bottom: 12px;
}
.tamplates-item {
    margin-top: 40px;
}
.templates-sub {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 32px;
    text-align: center;
    margin: 0 auto;
}
.templates-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    list-style: none;
    row-gap: 30px;
    column-gap: 40px;
}
.pagination-list{
    font-size: 16px;
    line-height: 18px;
    display: flex;
    list-style: none;
    margin-bottom: 60px;
}
.pagination-item{
    padding: 20px;
    padding-top: 17px;
    padding-bottom: 15px;
    margin-right: 11px;
    border-radius: 3px;
    background-color: #DBDBDB;
}
.pagination-next {
    padding-left: 77px;
    padding-right: 78px;
    padding-top: 17px;
    padding-bottom: 15px;
    border-radius: 3px;
    background-color: #DBDBDB;
}
.pagination-link {
    text-decoration: none;
    color: #000000;
}
.clients-list{
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    margin-top: 73px;
}
.network-list {
    display: flex;
    list-style: none;
    padding-left: 0;
}
.mask {
    background-color: #EEEEEE;
    width: 360px;
    height: 231px;
    position: relative;
    position: absolute;
}
.mask-price {d
    width: 200px;
    height: 50px;
}
.templates-sub {
    color: #666666;
    margin-bottom: 32px;
}
.map-iframe .popup {
    visibility: hidden !important;
}
.product{
    position: relative;
    background-image: url(./image/Shape.svg);
    background-repeat: no-repeat;
}
.product-description {
    width: 360px;
    height: 231px;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #EEEEEE;
}
.social-link-vk {
    display: block;
    background-image: url("./image/vk-icon.svg");
    background-repeat: no-repeat;
    background-color: #E1E1E1;
    background-position: center;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    margin-right: 9px;
}
.social-link-fb {
    display: block;
    background-image: url("./image/fb.svg");
    background-repeat: no-repeat;
    background-color: #E1E1E1;
    background-position: center;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    margin-right: 9px;
}
.social-link-ins {
    display: block;
    background-image: url("./image/ins.svg");
    background-repeat: no-repeat;
    background-color: #E1E1E1;
    background-position: center;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    margin-right: 139px;
}
.price-button {
    margin-top: 33px;
    padding: 72px;
    padding-top: 17px;
    padding-bottom: 15px;
    margin-bottom: 44px;
}
.friendly-list {
    color: #444444;
}
.invite-friend {
    color:#000000;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
}
.social-list {
    display: flex;
    margin-left: 140px;
    margin-top: 68px;
}
